/* Override right slider width */ 
.control-sidebar-bg,
.control-sidebar {
  right: -330px;
  width: 330px;
}
@media (min-width: 768px) {
  .control-sidebar-open .content-wrapper,
  .control-sidebar-open .right-side,
  .control-sidebar-open .main-footer {
    margin-right: 330px;
  }
}

/** コンテンツ領域の調整 */
.main-content {
  min-height: 80vh;
}
.wrapper {
  overflow-y: hidden;
}
