/* Override right slider width */ 
.control-sidebar-bg,
.control-sidebar {
  right: -250px;
  width: 250px;
}
@media (min-width: 768px) {
  .control-sidebar-open .content-wrapper,
  .control-sidebar-open .right-side,
  .control-sidebar-open .main-footer {
    margin-right: 250px;
  }
}

/** コンテンツ領域の調整 */
.main-content {
  min-height: 80vh;
}
.wrapper {
  overflow-y: hidden;
}

/** 画面右上の通知を一番上にもってくる */
.alert {
  z-index: 9999;
}

/** コンテンツ領域を、contentと同じだけ左に隙間をつける */
.left-margin-content {
  padding-left: 5px;
}
@media (min-width: 768px) {
  .left-margin-content {
    padding-left: 30px;
  }
}

/* circle button style */
.btn-circle.btn-xs{width:22px;height:22px;font-size:10px;border-radius:11px;line-height:1.6;padding:1px 1px;}
.btn-circle.btn-sm{width:30px;height:30px;font-size:12px;border-radius:15px;line-height:1.6;padding:6px 0;}
.btn-circle       {width:34px;height:34px;font-size:16px;border-radius:17px;line-height:1.33;padding:6px 4px;text-align:center;}
.btn-circle.btn-lg{width:46px;height:46px;font-size:22px;border-radius:23px;line-height:1.2;}

/* round button style */
.btn-round.btn-xs{border-radius:11px;}
.btn-round.btn-sm{border-radius:22.5px;}
.btn-round       {border-radius:17px;}
.btn-round.btn-lg{border-radius:23px;}

.clickable {
  cursor: pointer;
}
.clickdisable {
  background-color: #f4f4f4;
}
.tag {
  margin-right: 5px;
  display: inline-block;
}
.break-line-block {
  display: inline-block;  
}
.edit-text {
  font-family: 'monospace','Osaka−等幅','ＭＳ ゴシック','MS UI Gothic','Consolas','Courier','Terminal','Monaco','Microsoft Sans Serif',sans-serif;
}

/* change-admin-lte */
.content-wrapper{
  background-color: #ecf0f5;
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-form {
    display: block !important;
    -webkit-transform: translateZ(0);
  }
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
  font-size: 14px;
}
.box-body {
  padding: 3px 10px;
}
.pagination > li > a.active {
  background: #3c8dbc;
  color: #666;
}
.pagination > li > a.disabled {
  background-color: gray;
  color:black;
}


/* change bootstrap */
label {
  font-weight: normal;
}
