bower
target
node
node_modules
knowledge.iml
tomcat.8080
out.txt
.classpath
.project
.settings
.eclipse-pmd
.checkstyle
.idea
.m2
.postgres
.env
.es_data
.knowledge
.vscode
backend/src/main/webapp/_redirects
backend/src/main/webapp/index.html
backend/src/main/webapp/static
frontend/static/lib
