body {
    padding-top: 70px;
}

/* ------------------------------------- /
/    Footer
/* ------------------------------------- */
#footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
    background-color: #7E7E7E;
    color: #cccccc;
}

/*  nav
/*--------------------------------- */
#footer .footer-menu>li {
    border-right: 1px solid #000;
}

#footer .footer-menu>li.first {
    border-left: 1px solid #000;
}

#footer .footer-menu li a {
    color: #cccccc;
}

#footer .footer-menu li a:hover {
    color: #fff;
}
#footer a {
    color: #cccccc;
}

#footer a:hover {
    color: #fff;
}


/*  Copyright
/*--------------------------------- */ 
.copy {
    margin-top: 0px;
}

.title {
    text-align: left;
/*     padding: 10px; */
    margin-bottom: 16px;
/*     font-size: 18px;*/
    font-size: 32px;
/*     border-bottom: 3px dotted #7E7E7E;*/
 }


.sub_title {
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-bottom: 1px dashed #7E7E7E;
}

/*  navbar
/*--------------------------------- */ 
.nav .navButton {
    margin: 7.5px;
    vertical-align: middle;
    color: white;
}
#navAddButtonLink,#navListButtonLink,#navMenuButtonLink {
    color: white;
}
.navbar-default .navbar-nav > .navAddButton > a,
.navbar-default .navbar-nav > .navAddButton > a:hover,
.navbar-default .navbar-nav > .navAddButton > a:focus {
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    height: 45px;
    background: #009900;
}
.navbar-default .navbar-nav > .navListButton > a,
.navbar-default .navbar-nav > .navListButton > a:hover,
.navbar-default .navbar-nav > .navListButton > a:focus {
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    height: 45px;
    background: #999900;
}
.navbar-nav > .dropdown .dropdown-toggle {
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    height: 45px;
}
.navbar-default .navbar-nav > .navMenuButton > a,
.navbar-default .navbar-nav > .navMenuButton > a:hover,
.navbar-default .navbar-nav > .navMenuButton > a:focus {
    background: #cccccc;
}
.navbar-default .navbar-nav > .navLoginedMenuButton > a,
.navbar-default .navbar-nav > .navLoginedMenuButton > a:hover,
.navbar-default .navbar-nav > .navLoginedMenuButton > a:focus {
    background: #0099cc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: #ff9966;
}
@media screen and (max-width: 767px) {
    .nav, .nav .navButton, .nav .navButton .btn-group {
        width:100%;
    }
    .nav .navButton .btn-group #navAddButtonLink {
        width:calc(100% - 30px);
        text-align: left;
    }
    .nav .navButton .btn-group #navListButtonLink, .nav .navButton .btn-group #navMenuButtonLink {
        width:100%;
        text-align: left;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #navSearch {
        width: 200px;
    }
}
@media screen and (min-width: 992px) {
    #navSearch {
        width: 350px;
    }
}
.navbar .navbar-header .navbar-brand:hover{
    color: white;
}


.menu_list li {
    margin-top: 10px;
}


.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
}
.pagetop a {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: #666699;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding:15px 10px;
}
 
.pagetop a:hover {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: #333366;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding:15px 10px;
}

.navListButtonText {
    display: none;
}

/* circle button style */
.btn-circle.btn-xs{width:22px;height:22px;font-size:10px;border-radius:11px;line-height:1.6;padding:3px 0;}
.btn-circle.btn-sm{width:30px;height:30px;font-size:12px;border-radius:15px;line-height:1.6;padding:6px 0;}
.btn-circle       {width:34px;height:34px;font-size:16px;border-radius:17px;line-height:1.33;padding:6px 4px;text-align:center;}
.btn-circle.btn-lg{width:46px;height:46px;font-size:22px;border-radius:23px;line-height:1.2;}

/* round button style */
.btn-round.btn-xs{border-radius:11px;}
.btn-round.btn-sm{border-radius:22.5px;}
.btn-round       {border-radius:17px;}
.btn-round.btn-lg{border-radius:23px;}


.markdown .hrstyle01 {
    border:none;
    background: none;
    height:1px;
    border-top: 1px solid #8c8b8b;
    text-align: center;
    color: #8c8b8b;
}
.markdown .hrstyle01:after {
    content: '\002729';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: white;
    color: #8c8b8b;
    font-size: 18px;
}


@media print {
    a[href]:after {
        content: ""!important;
    }
    abbr[title]:after {
        content: ""!important;
    }
}


.cursor-pointer {
    cursor: pointer;
}
