body {
	padding-top: 70px;
}

/* ------------------------------------- /
/    Footer
/* ------------------------------------- */
#footer {
	text-align: center;
	padding: 20px 0;
	margin-top: 60px;
	background-color: #7E7E7E;
	color: #cccccc;
}

/*  nav
/*--------------------------------- */
#footer .footer-menu>li {
	border-right: 1px solid #000;
}

#footer .footer-menu>li.first {
	border-left: 1px solid #000;
}

#footer .footer-menu li a {
	color: #cccccc;
}

#footer .footer-menu li a:hover {
	color: #fff;
}
#footer a {
	color: #cccccc;
}

#footer a:hover {
	color: #fff;
}


/*  Copyright
/*--------------------------------- */ 
.copy {
	margin-top: 0px;
}

.title {
	text-align: left;

/* 	padding: 10px;
 */
	margin-bottom: 16px;
/* 	font-size: 18px;*/
	font-size: 32px;
/* 	border-bottom: 3px dotted #7E7E7E;*/
 }


.sub_title {
	text-align: left;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border-bottom: 1px dashed #7E7E7E;
}



