.preview {
    word-break: break-all;
    margin-top: 50px;
    padding: 5px;
}


.bootstrap-tagsinput { width: 100%; }
.bootstrap-tagsinput input {
    min-width: 300px;
}

.file-group {
    margin-bottom: 6px;
}
.filediv {
    margin: 10px;
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 2px;
}

#drop_target {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;        /* CSS3‘ˆÄ */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome—p */
    -moz-border-radius: 10px;    /* Firefox—p */
}


@media only screen and (max-width:767px){
    .radio-inline { 
        margin-left: 10px;
    }
}


.emoji {
    width: 24px;
    height: 24px;
}
.emojis li {
    list-style-type: none;
}
.emojis li .name {
    cursor: pointer;
    border-bottom: 1px solid gray;
}
.helpMarkdownLabel {
    font-size: small;
    cursor: pointer;
}
.sampleMarkdownText {
    word-wrap: break-word;
}

#tagDatas .name {
    cursor: pointer;
    border-bottom: 1px solid gray;
}

#groupDatas .name {
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.tag_list > a {
    text-decoration: none;
}

.markdown_sample{
    border: 2px solid silver;
    padding: 5px;
    height: 300px;
    overflow: auto;
}

.article_buttons {}
.article_buttons div {
    margin-bottom: 6px;
}
.btn_1 {
    width: 97%;
}
.btn_2 {
    width: 48%;
}

.tips_info {
/*    border-radius: 5px; */
/*    padding: 5px; */
/*    border: 1px solid gray; */
    font-size: 8pt;
}

.article_meta {}
.article_meta .form-group {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid silver;
}

.dispKnowledgeInfo {
    color: #999999;
    font-size: 14pt;
}

