.preview {
	word-break: break-all;
	margin-top: 50px;
}


.bootstrap-tagsinput { width: 100%; }
.bootstrap-tagsinput input {
	min-width: 300px;
}


.filediv {
	margin: 10px;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 2px;
}
.file-image {
	float: left;
}
.file-label {
	height: 30px;
	width: 40%;
	line-height: 30px;
	margin: 0 auto;
	vertical-align: middle;
	float: left;
}
@media only screen and (max-width:767px){
	.file-label {
		white-space: pre;
	}
	.file-label:after {
		white-space: pre;
		content: "\A";
	}
}
@media only screen and (min-width:768px){
	.fileLabelBr {
		display: none;
	}
}

#drop_target {
	border: 1px solid gray;
	padding: 5px;
	border-radius: 10px;		/* CSS3‘ˆÄ */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome—p */
	-moz-border-radius: 10px;	/* Firefox—p */
}


@media only screen and (max-width:767px){
	.radio-inline { 
		margin-left: 10px;
	}
}


.emoji {
	width: 24px;
	height: 24px;
}
.emojis li {
	list-style-type: none;
}
.emojis li .name {
	cursor: pointer;
	border-bottom: 1px solid gray;
}
.helpMarkdownLabel {
	font-size: small;
}
.sampleMarkdownText {
	word-wrap: break-word;
}

#tagDatas .name {
	cursor: pointer;
	border-bottom: 1px solid gray;
}

#groupDatas .name {
	cursor: pointer;
	border-bottom: 1px solid gray;
}

.tag_list > a {
	text-decoration: none;
}
