.bootstrap-tagsinput {
	border: 0px solid #ccc;
	box-shadow: none;
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 0px;
	color: #555;
	vertical-align: middle;
	border-radius: 0px;
	max-width: 100%;
	line-height: 22px;
	cursor: text;
}

.thumbnail {
	border: 0px solid #ccc;
	box-shadow: none;
}

.saveType {
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	vertical-align: middle;
}

.insert_info {
	margin-top: 5px;
	border-bottom: 1px solid #cccccc;
}

.downloadfile {
	margin-top: 5px;
}

#content {
	margin-top: 20px;
}


/*============================================================
Comments 
============================================================*/
.arrow_answer,
.arrow_question {
    position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
    padding: 30px 25px;
    border-radius: 10px;
    width: 80%;
    font-size: 13px;
}
.arrow_question {
    float: right;
    margin-right: 20px;
}
@media screen and (max-width: 340px) {
	.arrow_answer,
	.arrow_question {
		width: 50%;
	}
}
@media screen and (min-width: 341px) and (max-width: 580px) {
	.arrow_answer,
	.arrow_question {
		width: 60%;
	}
}
@media screen and (min-width: 1228px) {
	.arrow_answer,
	.arrow_question {
		width: 90%;
	}
}

.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
    top: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_question:after,
.arrow_question:before { right: 100%; }
.arrow_answer:after,
.arrow_answer:before { left: 100%; }
.arrow_answer:after,
.arrow_question:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -15px;
}
.arrow_answer:after { border-left-color: #fff ; }
.arrow_question:after { border-right-color: #fff ; }
.arrow_answer:before,
.arrow_question:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 16px;
    margin-top: -16px;
}
.arrow_answer:before { border-left-color: #c8c8c8; }
.arrow_question:before { border-right-color: #c8c8c8; }
.question_image { float: left; }
.answer_image {
    float: right;
    margin-right: 20px;
}
.answer_image img,
.question_image img { border-radius: 50px; }
.question_Box {
    margin-bottom: 25px;
    overflow: hidden;
}
